:root {
  --clr-accent-dark: #4d869c;
  --clr-accent-med-dark: #7ab2b2;
  --clr-accent-med: #cde8e5;
  --clr-accent-light: #eef7ff;

  --clr-neutral-900: #111827;
  --clr-neutral-600: #4b5563;
  --clr-neutral-400: #9ca3af;
  --clr-neutral-100: #f3f4f6;

  --size-05: 0.5rem;
  --size-075: 0.75rem;
  --size-09: 0.9rem;
  --size-1: 1rem;
  --size-11: 1.1rem;
  --size-12: 1.2rem;
  --size-15: 1.5rem;
  --size-2: 2rem;
  --size-3: 3rem;
  --size-5: 5rem;

  --font-body: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-title: "Montserrat", sans-serif;

  --weight-xs: 300;
  --weight-s: 400;
  --weight-m: 600;
  --weight-l: 800;
}

/* END OF ROOT SELECTOR */
/* ******************** */
