:root {
  --clr-accent-dark: #4d869c;
  --clr-accent-med-dark: #7ab2b2;
  --clr-accent-med: #cde8e5;
  --clr-accent-light: #eef7ff;

  --clr-neutral-900: #111827;
  --clr-neutral-600: #4b5563;
  --clr-neutral-400: #9ca3af;
  --clr-neutral-100: #f3f4f6;

  --size-05: 0.5rem;
  --size-075: 0.75rem;
  --size-09: 0.9rem;
  --size-1: 1rem;
  --size-11: 1.1rem;
  --size-12: 1.2rem;
  --size-15: 1.5rem;
  --size-2: 2rem;
  --size-3: 3rem;
  --size-5: 5rem;

  --font-body: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-title: "Montserrat", sans-serif;

  --weight-xs: 300;
  --weight-s: 400;
  --weight-m: 600;
  --weight-l: 800;
}

/* END OF ROOT SELECTOR */
/* ******************** */

body {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: var(--font-body);
  color: --clr-neutral-900;
  display: grid;
  place-items: center;
}

main {
  display: flex;
  flex-flow: column wrap;
  max-width: calc(100vw - var(--size-3));
  background-color: var(--clr-accent-light);
  padding: var(--size-11);
  border-radius: var(--size-1);
  border: 1px solid var(--clr-neutral-900);
  box-shadow: 7px 7px 2px 0 var(--clr-neutral-900);

  img {
    border-radius: var(--size-1);
    margin-bottom: var(--size-1);
  }

  h1 {
    font-family: var(--font-title);
    margin-bottom: var(--size-1);
    font-weight: var(--weight-m);
  }

  h2 {
    font-size: var(--size-1);
    text-transform: uppercase;
    font-family: var(--font-title);
    color: var(--clr-accent-dark);
    margin-bottom: var(--size-1);
  }

  p {
    margin-bottom: var(--size-1);
  }

  blockquote {
    font-style: italic;
    margin: var(--size-075);
  }
}

.cta {
  color: inherit;
  text-decoration: none;
  align-self: flex-end;
  background-color: var(--clr-accent-dark);
  padding: var(--size-05) var(--size-075);
  border-radius: var(--size-1);
  color: var(--clr-accent-light);
  font-weight: var(--weight-m);

  &:hover {
    transform: translateY(-5px);
    transition: 200ms ease-in-out;
  }
}

@media screen and (min-width: 500px) {
  main {
    max-width: 45ch;
  }
}
